
[submodule "proyects/ibolsast-crm"]
	path = proyects/ibolsast-crm
	url = https://rafarobert@github.com/rafarobert/ibolsast-crm.git
[submodule "proyects/herbalife-nutrition"]
	path = proyects/herbalife-nutrition
	url = https://github.com/rafarobert/herbalife-nutrition.git
